# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
triplet
test

# emacs
*~

# backup
*.bak

# input
input/

# output
output/
output*

# opfiles
utils/opfiles

# csv result files
*.csv

# python import file
*.pyc

# log files
*.log

# cscope
cscope.files

# specific files
utils/runops.all
utils/testlogs.err